<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
  <div th:fragment="side_bar">
    <div class="side-bar-header">
      <div class="header-name">
        <a th:href="@{/users/{userId}/edit(userId=${user.id})}" th:text="${user.name}">ユーザー名</a>
      </div>
      <div class="create-room">
        <a th:href="@{/rooms/new}">チャットを作成する</a>
      </div>
    </div>
    <div class="rooms">
      <div class="room">
        <div class="room-name">
          <a href="#">techroom1</a>
        </div>
      </div>
      <div class="room">
        <div class="room-name">
          <a href="#">techroom2</a>
        </div>
      </div>
      <div class="room">
        <div class="room-name">
          <a href="#">techroom3</a>
        </div>
      </div>
      <div class="room">
        <div class="room-name">
          <a href="#">techroom4</a>
        </div>
      </div>
      <div class="room">
        <div class="room-name">
          <a href="#">techroom5</a>
        </div>
      </div>
      <div class="room">
        <div class="room-name">
          <a href="#">techroom6</a>
        </div>
      </div>
      <div class="room">
        <div class="room-name">
          <a href="#">techroom7</a>
        </div>
      </div><div class="room">
        <div class="room-name">
          <a href="#">techroom8</a>
        </div>
      </div><div class="room">
        <div class="room-name">
          <a href="#">techroom9</a>
        </div>
      </div>
      <div class="room">
        <div class="room-name">
          <a href="#">techroom10</a>
        </div>
      </div>
    </div>
  </div>
</html>